.tab-content .modal-content {
    margin: 200px auto;
    width: 120%;
}
 input[type=datetime-local], input[type=month], input[type=time]{
    padding: 0 20px;
    margin: 0 15px;
}
input:focus{
    border-color: #8cbbec !important;
}
.form-control{
    height: 39px;
}
/* HRM Modal CSS*/
.page-content-wrapper .modal-content {
    margin-top: -20px;
}

/* Patient CSS Modal */
.modal-body .form-margin {
    margin-top: 7px;
}
.modal-body .form-check-edit {
    margin-left: 20px;
    margin-top: 28px;
}
.modal-edit{
    top: 100px;
}
.modal .modal-dialog-edit{
    width: 700px;
    height: 700px;
}
.modal-edit .modal-header .close{
    margin-top: 20px !important;
}